
body {
    background-color: #2d2a32;
    color: #ffa6f0; 
    font-family: Arial, sans-serif;
}


.title {
    color: #9c27b0; 
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.card {
    background-color: #4e4c57; 
    border: none;
    color: #f1f1f1;
    margin: 10px auto;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.card-img-top {
    border-bottom: 3px solid #6a1b9a; 
}

.btn-primary {
    background-color: #6a1b9a; 
    border: none;
}

.btn-primary:hover {
    background-color: #8e24aa; 
}


.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}


.btn-back {
    background-color: #6a1b9a;
    color: white;
    border: none;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: #8e24aa;
}

